@media (max-width: 600px){
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .sec{
        width: 100%;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        
    }
    .sec{
        padding: 0;
    }
    .content{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    #nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #menu{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .logotype{
        max-width: 80px;
    }
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: blue;
        height: 0;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        background: blue;
        position: absolute;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid white;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    /*Definir ainda o nav.active com outra animação sem ser aquele x*/
    .content{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .imgBox{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 3rem 3rem;
        padding: 0;
       
    }
    .imgBox img{
        height: 200px;
        
    }
    .thumb{
        bottom: -90px;
    }
    .content{
        padding: 0;
        margin-top: auto;
    }
    .content .textBox h2{
        font-size: 3.5em;
    }
    .sci{
        display: none;
    }
}